<!-- <app-add-edit-case></app-add-edit-case> -->
<div class="container max-w-[1400px] sm:px-3 px-2 mx-auto py-6">
    <h2 class="md:!text-5xl sm:!text-3xl !text-3xl text-center">Bharat Kumar Goyal</h2>
    <!-- <button (click)="onOpenCaseDialog()" class="main_btn">Add</button> -->
    <!-- Modal toggle -->
    <div class=" mb-4 gap-9 mx-auto flex justify-end">
        <div class="flex items-center w-[350px]">
            <input [(ngModel)]="filterDate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="date">
            <button mat-icon-button (click)="onFilter()">
                <mat-icon class="mat-18">filter_alt</mat-icon>
            </button>
            <button mat-icon-button (click)="resetFilter()">
                <mat-icon class="mat-18">restart_alt</mat-icon>
            </button>
        </div>


        <button mat-flat-button (click)="onOpenAddCaseDialog()" color="primary">
            Add
        </button>

        <button mat-flat-button (click)="onExport()" color="primary">
            Export Excel
        </button>
    </div>

  
<div class="example-container overflow-auto mat-elevation-z8 " #TABLE>
    <table class="w-full min-w-[900px]" mat-table #table [dataSource]="dataSource">
     
      <ng-container matColumnDef="fileNo">
        <th mat-header-cell *matHeaderCellDef> <span>File No.</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.fileNo}}</span> </td>
      </ng-container>
  
      <ng-container matColumnDef="courtName">
        <th mat-header-cell *matHeaderCellDef> <span>Court Name.</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.courtName}}</span> </td>
      </ng-container>
  
      <ng-container matColumnDef="perviousDate">
        <th mat-header-cell *matHeaderCellDef> <span>Pervious Date</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.perviousDate | date:'d MMMM, y'}}</span> </td>
      </ng-container>
   
      <ng-container matColumnDef="caseNo">
        <th mat-header-cell *matHeaderCellDef> <span>Case No.</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.caseNo}}</span> </td>
      </ng-container>
   
      <ng-container matColumnDef="partyName1">
        <th mat-header-cell *matHeaderCellDef> <span>Party Name 1.</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.partyName1}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="partyName2">
        <th mat-header-cell *matHeaderCellDef> <span>Party Name 2.</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.partyName2}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="caseStage">
        <th mat-header-cell *matHeaderCellDef> <span>Case Stage</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.caseStage}}</span> </td>
      </ng-container>
      
      <ng-container matColumnDef="nextDate">
        <th mat-header-cell *matHeaderCellDef> <span>Next Date</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.nextDate | date:'d MMMM, y'}}</span> </td>
      </ng-container>
      
      <ng-container matColumnDef="remark">
        <th mat-header-cell *matHeaderCellDef> <span>Remark</span> </th>
        <td mat-cell *matCellDef="let element"> <span>{{element.remark}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> <span>Action</span> </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="onEdit(element, 'view')" mat-icon-button>
                <mat-icon class="material-symbols-outlined">visibility</mat-icon>
            </button>
            <button (click)="onEdit(element, 'edit')" mat-icon-button>
                <mat-icon class="material-symbols-outlined">edit</mat-icon>
            </button>
            <button (click)="onDelete(element)" mat-icon-button>
                <mat-icon class="material-symbols-outlined">delete</mat-icon>
            </button>
         </td>
      </ng-container>

      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <p *ngIf="!this.dataSource?.length" class="text-center text-gray-500 py-6 w-full">No Data Found.</p>

  </div>
  <div>
  <!-- <button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button></div> -->
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->


</div>