<div class="bg-gray-900 flex justify-center items-center h-screen">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold text-gray-100 mb-4">Login</h2>
        <form [formGroup]="this.form" class="space-y-4">
            <div>
                <label for="username" class="block text-gray-300">Username</label>
                <input formControlName="email" type="text" id="username" name="username" class="w-full bg-gray-700 text-gray-100 rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-indigo-500" required>
            </div>
            <div>
                <label for="password" class="block text-gray-300">Password</label>
                <input formControlName="password" type="password" id="password" name="password" class="w-full bg-gray-700 text-gray-100 rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-indigo-500" required>
            </div>
            <div>
                <button (click)="onSubmit()" [disabled]="this.form.invalid" type="submit" class="w-full mb-2 bg-indigo-600 text-gray-100 rounded-md px-4 py-2 hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-500">Login</button>
                <!-- <span class="text-slate-400 cursor-pointer" [routerLink]="'/auth/forgot-password'">Forgot Password ?</span> -->
            </div>      
        </form>
    </div>
</div>