<div matDialogTitle class="!flex !justify-between !align-middle">
    <h1>{{this.mode == 'add' ? 'Add Case' : this.mode == 'edit' ? 'Edit Case' : 'View Details'}}</h1>
    <button mat-icon-button *ngIf="this.form.disabled" (click)="this.form.enable();this.mode = 'edit'">
        <mat-icon class="mat-18">edit</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div>
        <form [formGroup]="this.form">
            <div class="grid md:grid-cols-2 sm:grid-cols-1 grid-cols-1 gap-4">
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        File No. <span class="text-red-600">*</span>
                    </label>
                    <input formControlName="fileNo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="File No.">
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Court Name
                    </label>
                    <input formControlName="courtName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Enter Court Name">
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Pervious Date
                    </label>
                    <input formControlName="perviousDate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="date">
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Case No.
                    </label>
                    <input formControlName="caseNo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text">
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Party Name 1.
                    </label>
                    <div class="relative">
                        <input formControlName="partyName1" [ngClass]="{'!font-bold' : this.form.get('partyName1Bold')?.value}" class="shadow font-medium appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text">
                        <button *ngIf="this.mode != 'view'" (click)="this.form.get('partyName1Bold')?.value != true ? applyBold('partyName1Bold') : removeBold('partyName1Bold')" mat-icon-button class="!absolute right-0 top-[50%] translate-y-[-50%]">
                            <mat-icon class="mat-18 text-gray-400" [ngClass]="{'!text-black': this.form.get('partyName1Bold')?.value == true}">
                                format_bold
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Party Name 2.
                    </label>
                    <div class="relative">
                        <input formControlName="partyName2" [ngClass]="{'!font-bold' : this.form.get('partyName2Bold')?.value}" class="shadow font-medium appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text">
                        <button *ngIf="this.mode != 'view'" (click)="this.form.get('partyName2Bold')?.value != true ? applyBold('partyName2Bold') : removeBold('partyName2Bold')" mat-icon-button class="!absolute right-0 top-[50%] translate-y-[-50%]">
                            <mat-icon class="mat-18 text-gray-400" [ngClass]="{'!text-black': this.form.get('partyName2Bold')?.value == true}">
                                format_bold
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <label for="exampleCaseStage" class="block text-gray-700 text-sm font-bold mb-2">Case Stage</label>
                    <input formControlName="caseStage" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  placeholder="Enter case stage" type="text">
                    <!-- <select formControlName="caseStage" class="shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full" id="exampleCaseStage">
                        <option selected value="Fir">Fir</option>
                        <option value="Fr">Fr</option>
                        <option value="Cha llan">Challan</option>
                    </select> -->
                    <!-- <label class="block text-gray-700 text-sm font-bold mb-2">
                        Case Stage	  
                    </label>
                    <input formControlName="caseStage" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text"> -->
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Next Date
                    </label>
                    <input formControlName="nextDate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="date">
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2">
                        Remark
                    </label>
                    <input formControlName="remark" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text">
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="this.form.enabled" align="center">
    <button (click)="onSubmit()" [disabled]="this.form.invalid" mat-flat-button color="primary">{{this.mode == 'add' ? 'Add' : 'Save'}}</button>
</mat-dialog-actions>