<div class="bg-gray-900 flex justify-center items-center h-screen">
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-semibold text-gray-100 mb-4">Forgot Password</h2>
        <!-- <p class="text-gray-300 mb-6">Enter your email address below to reset your password.</p> -->
        <form action="#" method="POST" class="space-y-4">
            <div>
                <label for="email" class="block text-gray-300">Email Address</label>
                <input type="email" id="email" name="email" class="w-full bg-gray-700 text-gray-100 rounded-md px-4 py-2 focus:outline-none focus:ring focus:ring-indigo-500" required>
            </div>
            <div>
                <button type="submit" class="w-full bg-indigo-600 text-gray-100 rounded-md px-4 py-2 hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-500">Reset Password</button>
            </div>
        </form>
        <div class="mt-4">
            <span class="text-slate-400 cursor-pointer" [routerLink]="'/auth/login'">Back to Login</span>
        </div>
    </div>
</div>